*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-flow: wrap;
    height: 100vh;
}

.leftMenu{
    flex: 0 1 20%;
    background-color: chocolate;
}

.content{
    background-color: white;
    flex: 0 0 80%;
    text-align: center;
}

li{
    padding: 10%;
    text-transform: uppercase;
}

li:first-child{
    margin-top: 50%;
}

li:hover{
    background-color: rgb(155, 93, 49);
}

a{
    color: white;
    text-decoration: none;
}

section{
    height: 100vh;
    width: 50vw;
    align-items: center;
}